<div class="main" [class.is-close]="isMenuClose">
    <div class="content" [class.is-close]="isMenuClose">
        <h1 id="about">Antoine Luciani (Antlux)</h1>
        <div class="AboutMe">
            <div class="About">
                <img src="assets/images/profile/bigprofilepicture.png" alt="Photo de grande taille représentant Antoine luciani">
                <section>
                    <h2>À propos de moi:</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi auctor et erat hendrerit vulputate.
                        Mauris finibus suscipit sodales. Vestibulum  lacinia scelerisque ante finibus vehicula. Donec faucibus tellus nibh,
                        ut imperdiet quam mollis non. Cras a consequat tellus. Nullam ligula  tortor, congue nec orci et, eleifend commodo mi.
                        Quisque sit amet  ultrices tellus. Pellentesque placerat lectus in elit porta consequat.  Nulla ullamcorper malesuada dolor,
                        et porttitor sapien dignissim  pulvinar. Donec orci ligula, rutrum et magna id, ullamcorper euismod  erat.
                        Mauris ac vestibulum diam. Sed id enim sed justo interdum rhoncus.</p>
                </section>
            </div>
        </div>
    
        <div class="Achivements">
            <section>
                <h2 id="achivements">Mes réalisations</h2>
            </section>

            <div class="achiv-gallery">
                <a href="#"><img src="assets/textures/provisory/fontrasterizer.png" alt="Logo du logiciel Font Rasterizer"></a>
                <a href="#"><img src="assets/textures/provisory/shaderanimator.png" alt="Logo du logiciel Shader Animator"></a>
                <a href="#"><img src="assets/textures/provisory/sandboxstudy.png" alt="Logo du jeux test Sandbox Study développer sur Godot"></a>
            </div>

            <!-- <div class="achiv-gallery">
                <div class="rasterizer">
                    <section>
                        <img src="assets/images/logo/fontrasterizer.svg" alt="Logo du logiciel Font Rasterizer">
                        <label for="">Font Rasterizer</label>
                    </section>
                </div>
                <div class="shader">
                    <section>
                        <img src="assets/logo/shaderanimator.svg" alt="Logo du logiciel Shader Animator">
                        <label for="">Shader Animator</label>
                    </section>
                </div>
                <div class="sandbox">
                    <section>
                        <img src="assets/logo/sandboxstudy.svg" alt="Logo du jeux test Sandbox Study développer sur Godot">
                        <label for="">Sandbox Study</label>
                    </section>
                </div>
            </div> -->
        </div>
    
        <div class="Skills">
            <section>
                <h2 id="skills">Mes compétences</h2>
            </section>
        
            <div class="SkillsTree">
                <h3>Langages de programmation:</h3>
                <div class="skill">
                    <span>GDscript</span>
                    <progress value="90" max="100"></progress>
                </div>
                <div class="skill">
                    <span>C#</span>
                    <progress value="50" max="100"></progress>
                </div>
                <div class="skill">
                    <span>Rust</span>
                    <progress value="40" max="100"></progress>
                </div>
            </div>
            
        
            <div class="SkillsToolsBar">
                <h3>Outils maîtrisés:</h3>
                <section class="SkillsToolsBarContainer">
                    <img src="assets/tools/godot.svg" alt="Logo de Godot Engine">
                    <img src="assets/tools/git.svg" alt="Logo de Git">
                    <img src="assets/tools/blender.svg" alt="Logo de Blender">
                    <img src="assets/tools/github.svg" alt="Logo de GitHub">
                    <img src="assets/tools/office.svg" alt="Logo de Microsoft Office">
                    <img src="assets/tools/topsolid.svg" alt="Logo de TopSolid">
                </section>
            </div>
            
    
        <div class="Career">
            <section>
                <h2 id="career">Mon parcours</h2>
            </section>

            <section class="CareerContainer">
                <img src="assets/images/career.png" alt="liste des établissements ou stages réalisé par Antoine Luciani">
            </section>
        </div>
    </div>
</div>
<footer>
    <app-footer></app-footer>
</footer>