<div class="AboutMe">
    <img src="assets/images/profile/bigprofilepicture.png" alt="">
    <h2>À propos de moi:</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi auctor et erat hendrerit vulputate. Mauris finibus suscipit sodales. Vestibulum  lacinia scelerisque ante finibus vehicula. Donec faucibus tellus nibh,  ut imperdiet quam mollis non. Cras a consequat tellus. Nullam ligula  tortor, congue nec orci et, eleifend commodo mi. Quisque sit amet  ultrices tellus. Pellentesque placerat lectus in elit porta consequat.  Nulla ullamcorper malesuada dolor, et porttitor sapien dignissim  pulvinar. Donec orci ligula, rutrum et magna id, ullamcorper euismod  erat. Mauris ac vestibulum diam. Sed id enim sed justo interdum rhoncus.</p>
</div>
