// Variable
$primary-color: #C9A7D0;
$secondary-color: #AC86B4;
$white: #F5F5F5;
$shadow: #00000040;
$sa-st-background: #297D83;

// Font
// .league-spartan-<uniquifier> {
//     font-family: "League Spartan", serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//   }
.NavTop {
    top: 0;
    position: absolute;
    width: 100%;
    background-color: $primary-color;
    box-shadow: 5px 5px $secondary-color;
    height: 50px;
    }

    .NavItems {
        display: flex;
        list-style: none;
        padding-left: 12%;

    }

    .NavItem{
        padding-left: 10px;
        padding-top: 65px;
        a{
            color: $secondary-color;
            text-decoration: none;
            font-size: 0.7vw;
            font-weight: 700;
        }
    }