.content{
    display: flex;
    flex-direction: row;
}

// Variable
$primary-color: #C9A7D0;
$secondary-color: #AC86B4;
$white: #F5F5F5;
$shadow: #00000040;
$sa-st-background: #297D83;

// Font
// .league-spartan-<uniquifier> {
//     font-family: "League Spartan", serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//   }

.main{
    margin-top: 3.5vw;
}

// .AboutMe{

// margin-top: 3vw;
//     h1{

//     }
//     .About{
//         display: flex;
//         background-color: $secondary-color;

//         img{

//         }
//         section{
//             h2{

//             }
//             p{
    
//             }
//         }

//     }
// }

