// Variable
$primary-color: #C9A7D0;
$secondary-color: #AC86B4;
$white: #F5F5F5;
$shadow: #00000040;
$sa-st-background: #297D83;

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .NavTop {
        position: sticky;
        top: 0;
        z-index: 10;
    }
    .Content {
        flex-grow: 1;
    }
    footer {
        margin-top: auto;
    }
}
