<nav class="NavLeft">
    <div class="NavAction">
        <h2 class="NavTitle">Catégories</h2>
        <button class="Burger"><img src="assets/icon/cross.svg" alt=""></button>
    </div>

    <hr>
    
    <ul class="NavItems">
        <li class="NavItem"><a href="#">À propos de moi</a></li>
        <li class="NavItem"><a href="#">Mes réalisations</a></li>
        <li class="NavItem"><a href="#">Mes compétences</a></li>
        <li class="NavItem"><a href="#">Mon parcours</a></li>
    </ul>
    <img class="NavLeftFooter" src="assets/textures/menufooter.svg" alt="">
</nav>
