<nav class="NavLeft" [class.is-open]="isMenuOpen">
    <div class="NavAction">
        <h2 class="NavTitle">Catégories</h2>
        <button class="Burger" (click)="toggleMenu()">
            <img [src]="isMenuOpen ? 'assets/icon/menubars.svg' : 'assets/icon/menucross.svg'" alt="Ouvrir ou fermer le menu avec l'icone croix ou barre">
          </button>          
    </div>

    <hr>

    <ul class="NavItems">
        <li class="NavItem"><a href="#">À propos de moi</a></li>
        <li class="NavItem"><a href="#">Mes réalisations</a></li>
        <li class="NavItem"><a href="#">Mes compétences</a></li>
        <li class="NavItem"><a href="#">Mon parcours</a></li>
    </ul>

    <div class="NavLeftFooter">

    </div>
</nav>
