<nav class="NavLeft">
    <div class="NavAction">
        <h2 class="NavTitle">Catégories</h2>
        <button class="Burger">X</button>
        <hr>
    </div>
    <ul class="NavItems">
        <li class="NavItem"><a href="#">À propos de moi</a></li>
        <li class="NavItem"><a href="#">Mes réalisations</a></li>
        <li class="NavItem"><a href="#">Mes compétences</a></li>
        <li class="NavItem"><a href="#">Mon parcours</a></li>
    </ul>
</nav>
<footer>
    <img src="assets/textures/menufooter.svg" alt="">
</footer>