// Variable
$primary-color: #C9A7D0;
$secondary-color: #AC86B4;
$white: #F5F5F5;
$shadow: #00000040;
$sa-st-background: #297D83;

// Font
// .league-spartan-<uniquifier> {
//     font-family: "League Spartan", serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//   }

.NavLeft{
    position: sticky;
    width: 10%;
    height: 100vh;
    background-color: $primary-color;
    border-top-right-radius: 15px;
    padding-top: 5px;
    box-shadow: 1px 1px $shadow;

    .NavAction {
        display: flex;
        align-items: center;
        vertical-align: middle;
        justify-content: space-between;
        padding: 0 15px;
        margin-bottom: 5px;
    

        .NavTitle {
            font-size: 1vw;
            font-weight: 800;
            color: $white;
            text-shadow: 0px 3px $shadow;
            flex-grow: 1;
            text-align: center;
        }

        .Burger {
            text-decoration: none;
            border: none;
            background: none;
            flex-shrink: 0;
            padding-top: 5px;

            img {
                
            }
        }
    }

    hr{
        margin: auto;
        width: 95%;
    }

    .NavItems{
        padding-left: 5px;
    }

    .NavItem{
        background-image: url('../../assets/textures/libg.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
        background-size: 70%;
        padding: 15px;

        a{
            color: $secondary-color;
            text-decoration: none;
            font-size: 0.7vw;
            font-weight: 700;
        }
    }

    .NavLeftFooter{
        object-fit: fill;
        bottom: 0;
    }
}