<div class="Skills">
    <div class="SkillsBar">
        <h2>Mes compétences</h2>
    </div>

    <div class="SkillsTree">
        <h3>Langages de programmation:</h3>
        <p>GDscript</p>
        <p>C#</p>
        <p>Rust</p>
    </div>

    <div class="SkillsToolsBar">
        <h3>Outils maîtrisés:</h3>
        <section class="SkillsToolsBarTop">
            <img src="assets/tools/godot.svg" alt="">
            <img src="assets/tools/git.svg" alt="">
            <img src="assets/tools/blender.svg" alt="">
        </section>
        <section class="SkillsToolsBarDown">
            <img src="assets/tools/github.svg" alt="">
            <img src="assets/tools/office.svg" alt="">
            <img src="assets/tools/topsolid.svg" alt="">
        </section>
    </div>
</div>